name: Build APK

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install just
        run: |
          sudo snap install just --classic

      # ⛔ Oтключаем Rust
      - name: Bootstrap project (without rust)
        run: |
          SKIP_RUST=1 bash -lc "just bootstrap"

      - name: Make debug APK
        run: ./gradlew assembleDebug --no-daemon

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: gem-debug-apk
          path: app/build/outputs/apk/debug/*.apk